* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --primary-color: hsl(240, 6%, 21%);
  --bg-sound: hsl(240, 9%, 89%);
  --bg-sound-select: hsl(194, 97%, 31%);
  
}

body {
  font-family: 'Robo', sans-serif;

  color: var(--primary-color);

  display: flex; 
  align-items: center;
  /* text-align: center; */
  justify-content: space-around; 

  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
}

.counter {
  max-width: 32.1rem;
  margin-right: 19rem;

  font-size: 12rem;
}

.pause {
  width: 4.8rem;
}

.buttons {
  margin-top: 1.7rem;

  display: flex;
  justify-content: space-between;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex;
  flex-wrap: wrap; */
  max-width: 38rem;
  gap: 3.2rem;
}

.card  {

  background-color: var(--bg-sound);

  border-radius: 2.4rem;
  max-width: 13rem;
  max-height: 15rem;
  padding: 4.8rem 4.2rem;

  cursor: pointer;
}

.active {
  background-color:var(--bg-sound-select);
}

.hide {
  display: none;
}